DOCKER_OPTS="-H tcp://0.0.0.0:2375  -H unix:///var/run/docker.sock   --cluster-advertise eth0:2375 --cluster-store consul://{{ hostvars[groups['hemelb-master'][0]]['ansible_eth0']['ipv4']['address'] }}:8500"

