{% extends "jobs/detail_base.html" %}

{% block body_detail %}



<h3>Job status: {{ job.get_status_display }}</h3>

<h3>Stdout</h3>
<pre class="pre-scrollable" id="stdout">
{{ stdout|linebreaksbr }}
</pre>

<h3>Stderr</h3>
<pre class="pre-scrollable" id="stderr">
{{ stderr|linebreaksbr }}
</pre>

<h3>HemeLB output</h3>
<pre class="pre-scrollable" id="hemelb">
{{ hemelb|linebreaksbr }}
</pre>




{% endblock %}


{% block extra_javascript %}
<script type="text/javascript" >


  var objectId = "{{ object.id }}",
      $stdout = $('#stdout'),
      $stderr = $('#stderr'),
      $hemelb = $('#hemelb');

  $stdout.scrollTop(999999999);
  $stderr.scrollTop(999999999);
  $hemelb.scrollTop(999999999);

  $(document).ready(function(){
    setInterval(function(){
      $.get('/' + objectId + '/output.json', function(data){
        $stdout.text(data.stdout).scrollTop(999999999);
        $stderr.text(data.stderr).scrollTop(999999999);
        $hemelb.text(data.hemelb).scrollTop(999999999);

      });
    }, 10000);
  });
</script>
{% endblock %}
