{% extends "base.html" %}


{% block body %}

<h2>Job {{ job.id }}</h2>
<hr>

<div class="row">
  <div class="col-lg-12">
    {% if job.status != job.PREPROCESSING %}
    <ul class="nav nav-tabs">
      {% if job.status == job.ADDED %}
      <li role="presentation" class="{% if view == 'configure1' %}active{% endif %}">
        <a href="{% url 'jobs:configure1' job.id %}">HemeLB Config</a>
      </li>
      <li role="presentation" class="{% if view == 'configure2' %}active{% endif %}">
        <a href="{% url 'jobs:configure2' job.id %}">Job config</a>
      </li>
      {% endif %}
      <li role="presentation" class="{% if view == 'overview' %}active{% endif %}">
      <a href="{% url 'jobs:overview' job.id %}">Overview</a>
      </li>

      {% if job.status != job.ADDED %}
      <li role="presentation" class="{% if view == 'detail' %}active{% endif %}">
        <a href="{% url 'jobs:details' job.id %}">Detail</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>

{% block body_detail %}
{% endblock %}



{% endblock %}

