{% extends "base.html" %}

{% block body %}

<h1>Jobs index</h1>

<a href="{% url 'jobs:add' %}">Add new job</a>

<hr>

<ul>
  {% for job in object_list %}
  <li> <a href="{% url 'jobs:details' job.id %}"> {{ job.id }} </a> </li>
  {% empty %}
    <li>No Jobs submitted</li>
  {% endfor %}
</ul>

{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
  {% endif %}
  <a>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a>

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">next</a>
  {% endif %}
{% endif %}

{% endblock %}
