{% extends "base.html" %}

{% block body %}

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 ">
    <div class="panel panel-default center">
      <div class="panel-body">
        <p>Welcome to HemeWeb homepage! HemeWeb aim to allow users to run blood flow simulation using HemeLB from web browser. To create a new simulation job, please press the Add new
    job button. To view past simulation's overview please click on one of the Job IDs below.</p>
    </div>
      </div>
  </div>
</div>

<div class="row bottom-padding">
<div class="col-lg-2 col-lg-offset-10">
  <a href="{% url 'jobs:add' %}" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add new job
  </a>
</div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-heading">HemeWeb Job Index</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td><strong>Job ID</strong></td>
          <td><strong>Submission time</strong></td>
          <td><strong>Status</strong></td>
        </tr>
      </thead>
      <tbody>
      {% for job in object_list %}
      <tr>
        <td>
          <a href="{{ job.get_next_step_url }}"> {{ job.id }} </a>
        </td>
        <td>
          {{ job.created }}
        </td>
        <td>
          {{ job.get_status_display }}
        </td>
      </tr>
      {% empty %}
        <tr><td colspan="3">No Jobs submitted</td></tr>
      {% endfor %}
      </tbody>
    </table>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    {% if is_paginated %}
      <nav>
        <ul class="pagination">

          {% if page_obj.has_previous %}
          <li>
            <a href="?page={{ page_obj.prev_page }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}

          <li><a>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a></li>

          {% if page_obj.has_next %}
          <li>
            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>

    {% endif %}

  </div>
</div>

{% endblock %}
