{% extends "base.html" %}
{% load hemeweb_tags %}

{% block body_class %} job-add {% endblock %}

{% block body %}

<div class="row bottom-padding">
  <div class="col-lg-12">
    <div class="alert alert-info" role="alert">
    There are several ways of setting up a HemeLB flow simulation. Choose whether to create a new job from scratch or reuse an existing configuration
    </div>
  </div>
</div>

<div class="row">

<div class="col-lg-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Create new job from unprocessed inputs</h2>
    </div>
    <div class="panel-body">
        <form method="post" action="{% url 'jobs:setup' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in preprocess_form.visible_fields %}
            <div class="form-group">

              <label for="{{ field.name }}">{{ field.label_tag }}</label>
              {{ field|addcss:"form-control" }}
              <span style='color:red'>{{ field.errors.as_text }}</span>
            </div>
          {% endfor %}
          <button class="btn btn-primary"> Submit </button>
        </form>
        <hr />

        <p>Use this form for unprocessed input files. HemeWeb will run a pre-processing script and allow you to configure the simulation after it is done.</p>
    </div>
  </div>
</div>




  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Create new job from preprocessed inputs</h2>
      </div>
      <div class="panel-body">
          <form method="post" action="{% url 'jobs:add' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in new_job_form.visible_fields %}
              <div class="form-group">

                <label for="{{ field.name }}">{{ field.label_tag }}</label>
                {{ field|addcss:"form-control" }}
                <span style='color:red'>{{ field.errors.as_text }}</span>
              </div>
            {% endfor %}
            <button class="btn btn-primary"> Submit </button>
          </form>
          <hr />
        <p>Use this form if your input files have been pre-processed. HemeWeb will read from the pre-processed files and allow you to configure the simulation.</p>
      </div>
    </div>
  </div>



  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Use previous HemeWeb job by ID</h2>
      </div>
      <div class="panel-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in previous_job_form.visible_fields %}
              <div class="form-group">

                <label for="{{ field.name }}">{{ field.label_tag }}</label>
                {{ field|addcss:"form-control" }}
                <span style='color:red'>{{ field.errors.as_text }}</span>
              </div>
            {% endfor %}
            <button class="btn btn-primary"> Submit </button>
          </form>
          <hr />
        <p>Create a new job from past HemeWeb's job configuration. Specify the ID of the job, and HemeWeb will take care of copying all configurations and inputs from that simulation</p>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Use previous HemeWeb job by URL</h2>
      </div>
      <div class="panel-body">
          <form method="post" action="{% url 'jobs:add_from_url' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in url_form.visible_fields %}
              <div class="form-group">

                <label for="{{ field.name }}">{{ field.label_tag }}</label>
                {{ field|addcss:"form-control" }}
                <span style='color:red'>{{ field.errors.as_text }}</span>
              </div>
            {% endfor %}
            <button class="btn btn-primary"> Submit </button>
          </form>
          <hr />
        <p>Create a new job from past HemeWeb's job configuration. Specify the URL of the job, and HemeWeb will take care of copying all configurations and inputs from that simulation</p>
      </div>
    </div>
  </div>


</div>



{% endblock %}
