{% extends "jobs/detail_base.html" %}
{% load hemeweb_tags %}

{% block body_class %}  Overview {% endblock %}

{% block body_detail %}


<div class="row">
  <div class="col-lg-12">
    <h2>Job Overview  {% if job.status == job.ADDED %} <small> We're almost done</h2> {% endif %}
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">HemeLB config</h2>
      </div>
      <div class="panel-body">
        <p>
        GMY geometry file(.gmy): <a target="_blank" href="{{ job.input_file.url }}">{{ job.input_file.name }} ({{ job.input_file.size | humanize }})</a><br/><br/>
          HemeLB configuration file(.xml): {{ job.configuration_file.name }}
        </p>
        <div id="editor">{{ config_file }}</div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Job config</h2>
      </div>
      <div class="panel-body">
        <p>
          Machine type:  {{ job.get_instance_type_display }} <br/> <br/>
          How many machine: {{ job.instance_count }} <br/><br/>
          HemeLB version: <a target="_blank" href="{{ job.get_container_image_url }}">{{ job.get_container_image_display }}</a>
        </p>
      </div>
    </div>
  </div>
</div>


{% if job.status == job.ADDED %}
<div class="row">
  <div class="col-lg-12">
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="queue" id="queue" value="queue">
      <button class="btn btn-primary"> All good! Queue job </button>

    </form>
  </div>
</div>
{% endif %}


{% endblock %}


{% block extra_javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-xml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/theme-solarized_dark.js"></script>


<script type="text/javascript" charset="utf-8">

  // Configure editor
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/solarized_dark");
  editor.getSession().setMode("ace/mode/xml");
  editor.getSession().setUseWrapMode(true);
  editor.setReadOnly(true);

</script>

{% endblock %}
