# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6


{{ hostvars[groups[ master_hosts_group ][0]][ preferred_ansible_interface  ]['address'] }}  master


{% if worker_hosts_group in groups %}
  {% for host in groups[ worker_hosts_group ] %}
   {{ hostvars[host][ preferred_ansible_interface ]['address'] }} hemelb-node-{{ loop.index }}
  {% endfor %}
{% endif %}

