from django.conf import settings


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'hemeweb',
        'USER': '{{ ansible_ssh_user }}',
        'PASSWORD': '',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

DEBUG = False

JOB_FILES_UPLOAD_DIR = '/shared'
MEDIA_ROOT = '/shared'

AWS_SECRET_ACCESS_KEY = "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"
AWS_ACCESS_KEY_ID = "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
HOST_IP = "{{ hostvars[groups[ master_hosts_group ][0]][ preferred_ansible_interface  ]['address'] }}"

HEMEWEB_IMAGE_ID = "ami-160a9665"

