from django.conf import settings


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'hemeweb',
        'USER': '',
    }
}

JOB_FILES_UPLOAD_DIR = 'tmp'
