.container {
  padding-bottom: 60px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.bottom-padding {
  padding-bottom: 10px;
}

.no-style, .no-style:hover {
  text-decoration: none;
  color: black;
}

#editor {
  height: 500px;
  max-height: 100%;
  max-width: 100%;
}

.alert {
  transition: opacity 0.5s ease-in-out;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.alert.hide-animate {
  transition: opacity 0.5s ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
